DATABASE_URL = "xxxxxxxxxxx"
DATABASE_URL_POOLED = "xxxxxxxxxxx"


OPENAI_API_KEY="xxxxxxxxxxx"
OPENAI_BASE_URL = "xxxxxxxxxxx"
OPENAI_MODEL_HIGH = "xxxxxxxxxxx"
OPENAI_MODEL_MEDIUM = "xxxxxxxxxxx"
OPENAI_MODEL_LOW = "xxxxxxxxxxx"

ETL_ENDPOINT_URL = "https://superfree-campaign-endpoint.rhythamnegi.workers.dev/api/campaigns"
ETL_CACHE_DIR = "data/etl_cache"